.row {
  display: block;
  height:25px;
}
.grid{
  margin:100px auto 0 auto;
}

.button{
  border: 0px;
  width:300px;
  height:40px;
  padding: 0px;
  margin:0px 30px;
  color:white;
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
}

#btn_res{
  background: red;
}
#btn_vis{
  background: green;
}
#btn_soft_res{
  background: orange;
}
h1{
  font-family: 'Ubuntu', sans-serif;
}
li{
  font-family: 'Ubuntu', sans-serif;
  width:550px;
  text-align: left;
}
ul{
  width:600px;
  margin:0 auto;
}
