.node{
  height:25px;
  width:25px;
  display: inline-block;
  outline: 1px solid black;
  transition: 1s;
}

.node-visit{
  background: #007070;
}
.node-shortest{
  background: #F0EB6C;
}

.wall{
  background: black;
}

.start{
  background:#2A5900;
}

.end{
  background:#CF0404;
}
